@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>What is the goal of the Capstone project?</h3>

<p>
    The goal of the capstone project this term is to build a fully functional
    web application using the MVC framework in ASP.NET with user authentication,
    REST API, SQL server database, etc.
</p>

<h3>Project Requirements</h3>

<p>
    Here are the high-level requirements that needs to be met for this project.

    Homepage (public)
    Login page
    Forgot password
    Menu
    Admin Dashboard
    User Registration
    User management (Create, Read, Update, Remove)
    At least 2 different user levels
    Project specific information management (Create, Read, Update, Remove)
    Project specific page design and creation.
    Client Facing Dashboard / Page
    Client API for data access.
    Email sending
    Forgot password
    Confirmation Emails
    All fields should be validated
</p>

<h3>SCRUM</h3>

<p>
    Scrum requires a Scrum Master to foster an environment where:

    A Product Owner orders the work for a complex problem into a Product Backlog.
    The Scrum Team turns a selection of the work into an Increment of value during a Sprint.
    The Scrum Team and its stakeholders inspect the results and adjust for the next Sprint.
    Repeat
</p>

<h3>Weekly Progress Reporting</h3>

<p>
    Every Thursday the team should present their progress to the wider group. The following should be covered.

    Tasks completed in previous sprint.
    Burndown chart
    Screenshots to show progress thus far.
    Feedback from product owner.
    5-minute rundown from each team member (with some detail) on what they worked on in the previous sprint.
</p>

<h3>Sprint Planning Meeting</h3>

<p>
    Every Monday the team should do a planning meeting to review the previous sprint and assign the tasks for the next sprint. The following should be done in the sprint planning meetings.

    Minutes should be kept of this meeting
    Review last sprint
    Identify tasks not completed
    Assign tasks for current sprint.
    Discuss dependencies between team members (who needs what from whom)
    Identify issues and concerns

</p>