@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Techtorium Way<br />
    Capstone, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="vincentphat@techtorium.ac.nz">vincentphat@techtorium.ac.nz</a><br />
    <strong>Marketing:</strong> <a href="vincentphat@techtorium.ac.nz">capstonemarketing@techtorium.ac.nz</a>
</address>