@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Capstone Project</h1>
    <p class="lead">The goal of the capstone project this term is to build a fully functional web application using the MVC 
    framework in ASP.NET with user authentication, REST API, SQL server database, etc.</p>
    <p><a href="https://techtoriumacnz.sharepoint.com/sites/CLASSSWD/SitePages/Term2.aspx" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started with ASP.NET MVC</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Code First Database</h2>
        <p>Available is a video where we are going to enable the code first framework in our application, set up an initial migration, 
        add a migration with changes, connect our application to a new Azure SQL database and recap on using scaffolding from a model that we've created.</p>
        <p><a class="btn btn-default" href="https://techtoriumacnz.sharepoint.com/sites/CLASSSWD/SitePages/Lesson-14--Code-First-Database.aspx">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Branding</h2>
        <p>Every product has a name. With web applications it is also important
        to keep in mind that you'll need an avaible domain name to launch your app. Here are some tools you can use.</p>
        <p><a class="btn btn-default" href="https://domainr.com">Learn more &raquo;</a></p>
    </div>
</div>